.standings-row:nth-of-type(even) {
  background-color: #edf2f0;
}

.standings-row:nth-of-type(odd) {
  background-color: white;
}
.standing-table th,
td {
  text-align: center;
  border-collapse: collapse;
  border: 1px solid #e2e8f0;
}

.first-accepted {
  color: #4a5568;
  font-size: 0.75rem;
}
